body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    position: relative;
}

div {
    position: absolute;
    top: 20px;
}

.canv {
    top: 170px;
}

h1,
h2 {
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

canvas {
    border: 2px solid #fff;
}

.ex {
    top: 780px;
}

.ex p {
    color: white;
}

#note {
    display: inline-block;
    font-size: 20px;
}